*
!.gitignore

*.js
!hitokoto.js
!HotSearch.js
!SystemTime.js
!MonthMassage.js
!MemoryPercent.js
!GenshinVersionDay.js
!StarRailVersionDay.js
!OldTime.js
!B站热搜.js
!知乎热搜.js
!抖音热搜.js
!百度热搜.js
!userSuffix.js
!今日头条热搜.js